<div class="modal-box bg-slate-200 w-full sm:max-w-5xl">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-outline text-black absolute right-2 top-2">✕</button>
    </form>
    <div>
        <h1 class="text-2xl font-bold">Delete User</h1>
        <p class="text-sm">Are you sure you want to delete {{user.name.firstname}}?</p>
    </div>
    <div class="modal-action">
        <form method="dialog">
            <div class="space-x-4">
                <button type="button" class="btn btn-outline text-black" (click)="onSubmit(true)">YES</button>
                <button type="button" class="btn btn-outline text-black" (click)="onSubmit(false)">NO</button>
            </div>
        </form>
    </div>
  </div>