<div class="modal-box w-full">
  <form method="dialog">
    <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
  </form>
  <form class="space-y-4">
    <input type="text" name="name" id="name" placeholder="Name" class="input input-bordered w-full max-w-xs">
    <input type="email" name="email" id="email" placeholder="Email" class="input input-bordered w-full max-w-xs">
    <select class="select select-bordered w-full max-w-xs">
      <option disabled selected>Role</option>
      <option>Admin</option>
      <option>User</option>
    </select>
  </form>
  <div class="modal-action">
      <form method="dialog">
      <button class="btn">Add User</button>
      </form>
  </div>
</div>