<div class="modal-box w-full sm:max-w-5xl">
  <form method="dialog">
    <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
  </form>
  <form [formGroup]="addUserForm" class="space-y-4">
    <input formControlName="firstName" type="text" name="firstName" id="firstName" placeholder="First Name" class="input input-bordered w-full max-w-xs">
    <input formControlName="email" type="email" name="email" id="email" placeholder="Email" class="input input-bordered w-full max-w-xs">
    <select formControlName="role" class="select select-bordered w-full max-w-xs">
      <option disabled selected>Role</option>
      <option>1234</option>
      <option>4321</option>
    </select>
  </form>
  <div class="modal-action">
      <form method="dialog">
      <button class="btn" (click)="onSubmit()">Add User</button>
      </form>
  </div>
</div>