<section id="users">
    <!-- Flex Container -->
    <!-- User Heading -->
    <div class="flex container mx-auto justify-between text-center px-8 min-w-max sm:text-left">
        <div class="">
            User
        </div>
        <div class="">
            Email
        </div>
        <div class="">
            Role
        </div>
        <div></div>
    </div>
    <div class="flex flex-col container mx-auto space-y-6 px-8 text-left">
        <ng-container *ngIf="users$ | async as users">
            <div *ngFor="let user of users" class="flex w-100 justify-between">
                <div class="">
                    {{ user.username }}
                </div>
                <div class="">
                    {{ user.email }}
                </div>
                <div class="">
                    {{ user.id }}
                </div>
                <div>
                    <button class="btn btn-primary" (click)="editUser(user)">Edit</button>
                    <button class="btn btn-danger" (click)="deleteUser(user)">Delete</button>
                </div>
            </div>
        </ng-container>
    </div>
</section>