<div class="overflow-x-auto container mx-auto px-4 mb-3">
    <table class="table table-sm">
        <thead class="">
            <tr class="text-black">
                <th>User</th>
                <th>Email</th>
                <th colspan="2" >Role</th>
            </tr>
        </thead>
        <tbody class="text-black">
            <tr *ngFor="let user of users" class="space-y-12">
                <td>{{ user.name.firstname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td class="dropdown dropdown-end dropdown-hover">
                    <label tabindex="0">
                        <img src="assets/icons/more_horiz_black.svg" class="cursor-pointer px-1 hover:bg-slate-300 hover:rounded-lg active:bg-indigo-600 active:text-white" alt="more">
                    </label>
                    <ul tabindex="0" class="dropdown-content z-[1] bg-primary-content menu p-2 shadow bg-base-100 rounded-box w-24">
                        <li (click)="showEditUserModal(editUserModal)"><a>Edit</a></li>
                        <li (click)="deleteUser(user)"><a>Delete</a></li>
                    </ul>
                </td>
                <dialog id="editUserModal" #editUserModal class="modal">            
                    <edit-user-modal [user]="user" (editUser)="editUser($event)"></edit-user-modal>
                </dialog>
            </tr>
        </tbody>
    </table>
</div>