<header>
    <!-- Flex Container -->
    <div class="container mx-auto mb-3 p-3 px-8 flex flex-col justify-between items-center space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4">
        <div class="flex flex-col justify-center items-center p-3 space-y-6 sm:space-y-0 sm:space-x-6 sm:flex-row">
            <h1 routerLink="/" class="font-bold text-3xl cursor-pointer sm:text-4xl">
                Userio
            </h1>
            <form>
                <input type="text" name="" id="" placeholder="Search name..." class="flex rounded-full bg-indigo-200 text-black px-3 sm:px-4 sm:py-2 placeholder:text-black focus:outline-none">
            </form>
        </div>
        <div>
            <button [disabled]="isAddingUser" routerLink="/main/users/add" class="rounded-lg text-white bg-indigo-600 px-2 py-1 md:px-4 md:py-2 font-bold cursor:pointer disabled:bg-gray-400">Add New User</button>
        </div>
    </div>
</header>